.button {
    margin-bottom: 5;
    padding: 10;
    background-color: '#33658A';
    color: 'white';
  }

  .main {
    padding-top: 16;
    padding-bottom: 16;
    display: 'flex';
    flex-wrap: wrap;
  }
  .button {
    margin-bottom: 5;
    padding: 10;
    background-color: '#33658A';
    color: 'white';
  }
  .logItem {
    margin-top: 20;
  }
  .title {
    font-size:  15;
    font-weight: 500;
    margin-left: 20;
  }
  .main-content-section {

  }
  .appFrame {
    z-index: 1;
    overflow: 'hidden';
    position: 'relative';
    display: 'flex';
    width: '100%';
  }
  .content {
      flex-grow: 1;
    background-color: '#86BBD8';
    padding: 10;
  }
  
 
  