/* *{
} */

* {
  border-collapse: collapse;
}
.copyright {
  text-align: center;
  margin: 1rem 0;
  font-weight: 100;
}
.footer-content {
}
.button {
  color: "white";
  float: "right";
}
.footer {
  /* position: fixed;
    left: 0;
    bottom: 0; */
  width: 90%;
  text-align: center;
  margin-top: auto;
}
.footer-links {
    margin: 0 15rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
ul{
    padding: 0;
}
li {
  list-style: none;
  text-decoration: underline 0.15em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;
}
li:hover {
    text-decoration: underline;
    text-decoration-color: rgb(44, 129, 255);
}
h4{
    font-weight: 500;
}