.copyright {
    margin-top: 10;
    background-color: '#33658A';
    color: 'white';
}
.footer-content {
    background-color: '#33658A';
    color: 'white';
}
.button {
    color: 'white';
    float: 'right';
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 14px;
    text-align: center;
    height: 40px;
    margin-top: auto;
    overflow: hidden;
  }
